<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content, title, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">SCM</title>
    <link th:href="@{'/css/output.css'}" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-900">
    <div th:replace="~{navbar :: navbar}"></div>

    <div class="p-4">
      <section th:replace="${content}"></section>
    </div>

    <!-- <div class="p-4 text-center">Smart Contact Manager : Pulkit Arora</div> -->

    <!-- flow-bite content -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
